<ion-view class="register">
    <ion-content class="wrapper">
        <section class="main-register">
            <label for="email">Email</label>
            <input type="text">

            <label for="password">Contraseña</label>
            <input type="text">

            <label for="password2">Repetir contraseña</label>
            <input type="text">
        </section>

        <section class="type-register">
            <h2>Tipo de registro</h2>
            <div class="type-register-wrapper">
                <ul class="type-list">
                    <li class="type-element">Usuario</li>
                    <li class="type-element">Agencia</li>
                    <li class="type-element">Organismo</li>
                </ul>
            </div>
            <input type="button" value="">
            <input type="button">
        </section>
    </ion-content>
</ion-view>