.login {
    .wrapper {
        width: 100%;
        background-image: url(../img/login.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;

        .form-login {   
            margin: 100% 5% 0% 5%;

            .input-login {
                width: 95%;
                background-color: #fff;
                padding: 10px;
                transition: box-shadow 0.3s;
                opacity: 0.7;
                border-radius: 0.75rem;
                margin: 0.5rem;                           
            } 
            .input-login::-webkit-input-placeholder {
                color: #000;
            }

            .radio-login {
                margin: 0.3rem 0 0 0.6rem;
                line-height: normal;
                opacity: 0.7;                                
            }

            span {
                color: #fff;
            }
        }         

        .action-login {
            display: flex;
            flex-direction: row;                        
            margin: 5% 5% 0% 5%;                        

            .btn-login {
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-left: 1.3rem;
                background-color: #fff;
                opacity: 0.7;
                border-radius: 0.75rem;                             
            }
        }
    }
}