<ion-view class="login">
    <ion-content class="wrapper" scroll="false">
        <section class="form-login">
            <input type="text" class="input-login" placeholder="Email" ng-model="vm.credentials.email"/>
            <input type="text" class="input-login" placeholder="Contraseña" ng-model="vm.credentials.password"/>
            <input type="checkbox" class="radio-login"/><span>Recordar contraseña</span>
        </section>

        <section class="action-login">
            <button class="btn-login left" ng-click="vm.login()">Entrar</button>
            <button class="btn-login right" ng-click="vm.register()">Registrase</button>
        </section>
    </ion-content>
</ion-view>